<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/img/fa.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Olá</ion-card-subtitle>
        <ion-card-title>Bem Vindo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui você encontra as maiores variedades de produtos de farmacia do Rio de Janeiro e preços, incluindo as localidades das lojas para que você possa fazer uma busca totalmente despreocupado.
        </p>
      </ion-card-content>
    </ion-card>
   
</ion-content>
